In [6]:
#Add and Deletion from set
a = set()
for i in range(5):
    data = int(input('Enter an element'))
    a.add(data)
print(a)
a.update([100,200])
print(a)

Enter an element30
Enter an element20
Enter an element50
Enter an element50
Enter an element40
{40, 50, 20, 30}
{100, 40, 200, 50, 20, 30}

In [9]:
#discard
d = int(input("Enter an element to delete"))
a.discard(d)
print(a)
#if not present doesnt give an error

Enter an element to delete100
{40, 200, 20, 30}

In [11]:
#gives an key error #Remove
try:
    a.remove(500)
except:
    print("Element not found")

Element not found

In [13]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
print(s1.union(s2))
print(s2.union(s1))
print()
print(s1.intersection(s2))
print(s2.intersection(s1))
print()
print(s1.difference(s2))
print(s2.difference(s1))
print()
print(s1.symmetric_difference(s2))
print(s2.symmetric_difference(s1))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

{3, 4}
{3, 4}

{1, 2}
{5, 6}

{1, 2, 5, 6}
{1, 2, 5, 6}

In [21]:
#In order to update the result in existing set itself use ...._update()
s3 = {10,11,12,13}
s4 = {12,13,14,15}
s3.intersection_update(s4)
s3

{12, 13}

In [23]:
#True = has common, Fasle = no common
s1 = {1,2,3,4}
s2 = {3,4,5,4}
s3 = {5,6,7,8}

In [24]:
print(s1.isdisjoint(s2))
print(s2.isdisjoint(s3))
print(s3.isdisjoint(s1))

False
False
True

In [31]:
#subset
s1 = {1,2,3,4}
s2 = {3,4}
print(s1.issubset(s2))
print(s2.issubset(s1))

False
True

In [32]:
print(s1.issuperset(s2))

True

In [27]:
#frozenset
a = {1,2,3,4,5,6}
frozen = frozenset({1,2,3,4,5,6})
#cannot add or delete elements in frozen

In [36]:
#dictionaries
student = {"Name":"Ramu","Age":18,"Height":5.6,"Phn":9090,"Place":"Bangalore"}
print(student)

{'Name': 'Ramu', 'Age': 18, 'Height': 5.6, 'Phn': 9090, 'Place': 'Bangalore'}

In [38]:
Class_Record = {"Arpit":{"Physics":80,"Chemistry":70,"Math":60,"English":60,"Hindi":75},
    "Anushka":{"Physics":90,"Chemistry":80,"Math":70,"English":50,"Hindi":85}}
import pandas as pd 
df = pd.DataFrame(Class_Record)
df

           Arpit  Anushka
Physics       80       90
Chemistry     70       80
Math          60       70
English       60       50
Hindi         75       85

In [40]:
for key in student:
    print(key)

Name
Age
Height
Phn
Place

In [41]:
for key in student:
    print(student[key])

Ramu
18
5.6
9090
Bangalore

In [42]:
for value in student.values():
    print(value)

Ramu
18
5.6
9090
Bangalore

In [43]:
for key,value in student.items():
    print(key," ",value)

Name   Ramu
Age   18
Height   5.6
Phn   9090
Place   Bangalore

In [44]:
#dictionary comprension
l = [x*x for x in range(1,10)]
print(l)
d = {x:x*x for x in range(1,10)}
print(d)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [45]:
d = {x:x*x for x in range(1,10) if(x%2)==0}
print(d)

{2: 4, 4: 16, 6: 36, 8: 64}