In [7]:
g_c = 100

class TestClass():
    def run(self):
        global g_c
        print(g_c)

In [8]:
TestClass().run()

100

In [1]:
import pandas as pd
df = pd.read_csv(r'C:\Users\johnp\Django\GraphProject\graph\exampleData.csv')

In [2]:
df

    Actual Value  Mean Value  Standard Value
0              1          50              20
1              2          60              50
2              3          40              40
3              4          60              30
4              5          70              50
5              6          80              80
6              7         100              40
7              8          50             100
8              9          20              40
9             10          90              40
10            11          50              20
11            12          40              60

In [3]:
Actual_Value = df['Actual Value'].values.tolist()
Mean_Value = df['Mean Value'].values.tolist()
Standard_Value = df['Standard Value'].values.tolist()

In [4]:
print(Actual_Value)
print(Mean_Value)
print(Standard_Value)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[50, 60, 40, 60, 70, 80, 100, 50, 20, 90, 50, 40]
[20, 50, 40, 30, 50, 80, 40, 100, 40, 40, 20, 60]

[(3, 'c', 6, '7d3'),
	(2, 2),
	(134, '23d4', 34,45)]

	Output:

	(139, 42, 45)

In [30]:
l = [(3, 'c', 6, '7d3'), (2, 2), (134, '23d4', 34,45)]
a,b,c = list(l[0]),list(l[1]),list(l[2])

In [33]:
a1 = list(filter(lambda x:type(x)==int, a))
b1 = list(filter(lambda x:type(x)==int, b))
c1 = list(filter(lambda x:type(x)==int, c))

In [34]:
print(a1)
print(b1)
print(c1)

[3, 6]
[2, 2]
[134, 34, 45]

In [42]:
from itertools import zip_longest

In [43]:
res = tuple(map(sum,zip_longest(a1,b1,c1,fillvalue=0)))
print(res)

(139, 42, 45)

In [ ]:
def sumOf(b):
  return (b[i]+b[i-1])/2
  return float(b)
a=int (input())
b=[]
for i in range(a):
  c=int(input("enter the scores"))
  b.append(c)
  b.sort()
print(b)
print(sumOf(b))

def average_tuple(nums):
    return [sum(x) / len(x) for x in zip(*((10, 10, 10, 12), (30, 45, 45), (81,32), (1, 2, 3, 4)))]
print(average_tuple(nums))

l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in l])

In [ ]:
l=[5,7]
try:
  print([x for x in range(min(l),max(l)) if x not in l])
except Exception as valueerror:
  if(l<min(l) and l>max(l)):
    raise valueerror

str1 = "Hello Hello How are You Hello"
str2 = str1.split()
count = 0
d = { }
for data in str2:
  d[data] = count
  count += 1

print(d)