In [1]:
n_sub = int(input("Enter the number of Subjects :"))
l = []
for i in range(n_sub):
    m = int(input("Enter Subject{} Marks: ".format(i)))
    l.append(m)
s = set(l)
no_dup = list(s)
for i in range(len(no_dup)-1,0,-1):
    for j in range(i):
        if no_dup[j] > no_dup[j+1]:
            temp = no_dup[j]
            no_dup[j] = no_dup[j+1]
            no_dup[j+1] = temp
print(no_dup[-2])

Enter the number of Subjects :

ValueError: invalid literal for int() with base 10: ''

In [2]:
Class_Record = {"Arpit":{"Physics":80,"Chemistry":70,"Math":60,"English":60,"Hindi":75},
    "Anushka":{"Physics":90,"Chemistry":80,"Math":70,"English":50,"Hindi":85}}

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(Class_Record)

In [5]:
df["Marks"] = (df["Arpit"]+df["Anushka"])/2
df

           Arpit  Anushka  Marks
Physics       80       90   85.0
Chemistry     70       80   75.0
Math          60       70   65.0
English       60       50   55.0
Hindi         75       85   80.0

In [6]:
for i in df["Marks"]:
    print("{:.2f}".format(i))

85.00
75.00
65.00
55.00
80.00

In [7]:
hf = pd.DataFrame({"Height":{"saurabh":102,"arpit":120,"aditya":102,"varun":101}}).reset_index()

In [8]:
hf=hf.rename(columns={"index":"Name"})
hf

      Name  Height
0   aditya     102
1    arpit     120
2  saurabh     102
3    varun     101

In [18]:
df = hf.groupby("Height")
df["Name"]

In [9]:
hf = hf.sort_values(by="Height",ascending=False)
max_2 = hf["Height"].nlargest(2)
max_2

1    120
0    102
Name: Height, dtype: int64

In [10]:
hf[hf['Height']==max_2[0]]

      Name  Height
0   aditya     102
2  saurabh     102